body::before {
    background-attachment: fixed;
    content: '';
    will-change: transform;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
}
body{
background-size:cover;
}

body .hugo-blog {
  font-family: 'Open Sans','Helvetica', sans-serif;
  font-size: 16px;
}


.hugo-blog p{
    font-size: 16px;
    font-family: 'Open Sans','Helvetica', sans-serif;
   
}

.hugo-blog .hugo-content{
margin:0px 10% 20px  10%;
display: flex;
flex-direction: column;
}

.hugo-blog .mdl-button{
    font-family: 'Open Sans','Helvetica', sans-serif;
}

.hugo-blog p a{
text-decoration:none;
    
}
.hugo-blog p a:hover{
text-decoration:underline;
    
}

.hugo-blog .hugo-blog__posts {
  max-width: 900px;
  padding: 0px;
  display: flex;
 
  margin: 0 auto;
  flex-shrink: 0;
  justify-content: center
}
.hugo-blog .hugo-blog__list {
  max-width: 900px;
  padding: 0;
  width: 100%;
  margin: 0 auto;
  flex-shrink: 0;
}
.hugo-blog .hugo-blog__list .mdl-list__divider {
  border-bottom: 1px solid #dcdcdc;
}

.hugo-blog .hugo-blog__list .mdl-card .mdl-card__list-item {
  display: flex;
  /*font-size: 1em;*/
  /*line-height: 1.2em;*/
  box-sizing: border-box;
  min-height: 48px;
  width: 100%;
  padding: 0;
  border-bottom: 1px solid #dcdcdc;
}
.hugo-blog .hugo-blog__list .mdl-card .mdl-card__list-item a {
  text-decoration: none;
}
.hugo-blog .hugo-blog__list .mdl-card .mdl-card__list-item a:hover {
  text-decoration: underline;
}

.hugo-blog .mdl-card .mdl-card__list-item a {
  text-decoration: none;
}

.hugo-blog .mdl-card .mdl-card__list-item a:hover {
  text-decoration: underline;
}

.hugo-blog.mdl-layout .mdl-layout__content {
  padding-top: 160px;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.hugo-blog .mdl-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 360px;
}
.hugo-blog .mdl-card__title {
  padding: 16px;
  flex-grow: 1;
}
.hugo-blog .mdl-card__media {
  box-sizing: border-box;
  background-size: cover;
  background-position: 50% 50%;
  padding: 24px;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: flex-end;
  cursor: pointer;
  min-height: 180px;
}
.hugo-blog .mdl-card__media a,
.hugo-blog .mdl-card__title a {
  : inherit;
}
.hugo-blog .mdl-card__supporting-text {
  min-height: 64px;
  display: flex;
  align-items: center;
  width:100%;
}
.hugo-blog .mdl-card__supporting-text strong {
  font-weight: bold;
}
.hugo-blog .mdl-card__media ~ .mdl-card__supporting-text {
  min-height: 64px;
}
.hugo-blog .mdl-card__supporting-text:not(:last-child) {
  box-sizing: border-box;
  min-height: 76px;
}
.hugo-blog:not(.hugo-blog--blogpost) .mdl-card__supporting-text ~ .mdl-card__supporting-text {
  border-top: 1px solid rgba(0,0,0,0.1);
}
.hugo-blog .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
  justify-content: space-between;
}
.hugo-blog .mdl-card__actions:first-child {
  margin-left: 0;
}
.hugo-blog .meta {
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: auto;
}
.hugo-blog .meta > .meta__favorites{
  flex-direction: row;
  margin: 0 8px;
  font-size: 13px;
  font-weight: 500;
}
.hugo-blog .material-icons {
  font-size: 26px;
  cursor: pointer;
}
.hugo-blog .icon-button {
  min-width: 32px;
}
.hugo-blog .material-icons_lg {
  font-size: 1.33em;
  cursor: pointer;
}
.hugo-blog .material-icons_2x {
  font-size: 2.0em;
  cursor: pointer;
}
.hugo-blog .mdl-card .meta.meta--fill {
  justify-content: space-between;
}
.hugo-blog .meta > *:first-child {
  margin-right: 16px;
}
.hugo-blog .meta > * {
  display: flex;
  flex-direction: column;
}
.hugo-blog .profile-card {
  max-width: 360px;
}
.hugo-blog .profile-card .mdl-card__media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding: 0px;
}
.hugo-blog .profile-card .mdl-card__media {
  background-size: cover;
  /*background-position: 50% 50%;*/
  background-repeat: no-repeat;
}
.hugo-blog .profile-card .mdl-card__supporting-text {
  background-: #F5F5F5;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.hugo-blog .profile-card #fab_ctn {
  position: absolute;
  top: calc(100% - 92px);
  right: 16px;
  /*transform: translate(0px, -28px);*/
}
.mdl-button--fab_flinger-container.is-showing-options > button i {
  transition: transform 0.3s linear;
  transform: rotate(45deg);
}
.mdl-button--fab_flinger-container.is-showing-options .mdl-button--fab_flinger-options {
  display: flex;
  flex-direction: column-reverse;
}
.mdl-button--fab_flinger-container.is-showing-options .mdl-button--fab_flinger-options button {
  display: block;
  animation-name: enter;
  animation-fill-mode: forwards;
  animation-duration: 0.1s;
  transform-origin: bottom center;
}
.mdl-button--fab_flinger-container.is-showing-options .mdl-button--fab_flinger-options button:nth-of-type(1) {
  animation-delay: 0.1s;
}
.mdl-button--fab_flinger-container.is-showing-options .mdl-button--fab_flinger-options button:nth-of-type(2) {
  animation-delay: 0.2s;
}
.mdl-button--fab_flinger-container.is-showing-options .mdl-button--fab_flinger-options button:nth-of-type(3) {
  animation-delay: 0.3s;
}
.mdl-button--fab_flinger-container.is-showing-options .mdl-button--fab_flinger-options button:nth-of-type(4) {
  animation-delay: 0.4s;
}
.mdl-button--fab_flinger-container.is-showing-options .mdl-button--fab_flinger-options button:nth-of-type(5) {
  animation-delay: 0.5s;
}
.mdl-button--fab_flinger-container.is-showing-options .mdl-button--fab_flinger-options button:nth-of-type(6) {
  animation-delay: 0.6s;
}
.mdl-button--fab_flinger-container .mdl-button--fab_flinger-options {
  position: absolute;
  bottom: 100%;
  margin-bottom: 10px;
}
.mdl-button--fab_flinger-container .mdl-button--fab_flinger-options button {
  transform: scale(0);
  display: none;
}
.hugo-blog .hugo-blog__posts > .hugo-nav {
  margin: 12px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  : white;
  font-weight: 500;
}
.hugo-blog .hugo-blog__posts > .hugo-nav > .hugo-nav__button {
  : white;
  text-decoration: none;
}
.hugo-blog .hugo-blog__posts > .hugo-nav .mdl-button {
  : rgba(0,0,0,0.54);
  background-: white;
}
.hugo-blog .hugo-blog__posts > .hugo-nav > .hugo-nav__button:first-child .mdl-button {
  margin-right: 16px;
}
.hugo-blog .hugo-blog__posts > .hugo-nav > .hugo-nav__button:last-child .mdl-button {
  margin-left: 16px;
}
.hugo-blog .mdl-card > a {
  : inherit;
  text-decoration: none;
  font-weight: inherit;
}

.hugo-blog .mdl-card h3 a {
  text-decoration: none;
}
.hugo-blog .mdl-card h3.quote:before, .hugo-blog .mdl-card h3.quote:after {
  display: block;
  font-size: 3em;
  margin-top: 0.5em;
}
.hugo-blog .mdl-card h3.quote:before {
  content: '“';
}
.hugo-blog .mdl-card h3.quote:after {
  content: '”';
}
.hugo-blog--blogpost .custom-header {
  background-color: transparent;
}
.hugo-blog--blogpost .hugo-blog__posts > .mdl-card .mdl-card__media {
  /*background-image: url('/images/.jpg');*/
  height: 280px;
}
.hugo-blog--blogpost .comments {
  background-: #EEE;
}
/*.hugo-blog--blogpost .meta > * {*/
/*  align-items: center;*/
/*}*/
.hugo-blog--blogpost .meta + .mdl-card__supporting-text {
  border: 0;
  display: flex;
  flex-direction: column;
}
.hugo-blog--blogpost .meta + .mdl-card__supporting-text p {
  max-width: 85%;
  margin: 16px auto;
  line-height: 28px;
}
.hugo-blog .hugo-content img {
  max-width: 100%;
  height: auto;
}



.hugo-blog--blogpost .comments {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 32px;
  box-sizing: border-box;
}
.hugo-blog--blogpost .hugo-back {
  position: absolute;
  top: 16px;
  left: 16px;
  : white;
  z-index: 9999;
}
.hugo-blog .section-spacer {
  flex-grow: 1;
}
.hugo-blog .minilogo {
  width: 44px;
  height: 44px;
  /*background-image: url('/images/avatar.jpg');*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  border-radius: 22px;
  background-color: transparent;
}
/* Fixes for IE 10 */
.mdl-grid {
  display: flex !important;
}
.social-btn  {
  /*background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 16px;*/
  background-color: transparent;
  cursor: pointer;
 /* opacity: 0.46;*/
  border-radius: 2px;
  font-size: 1.5em;
  
}
.social-btn__share {
  : rgba(0, 0, 0, 0.54);
  background-color: transparent;
}
.hugo-blog .mdl-mini-footer{
  margin-top: 0px;
  line-height:2em;
  min-height: 3em;
  padding: 10px;
  align-items: center;
  background-color: white;
  box-sizing: border-box;
  position: relative;
  left: 0px;
  right: 0px;
  top: 0px;
}



@media only screen and (max-width: 480px) {
  .hugo-blog .mdl-mini-footer {
     min-height: 80px;
    flex-flow: column;
    display:none;
  }
  
.hugo-blog.mdl-layout .mdl-layout__content {
    padding-top: 50px;
    
}

.hugo-blog .pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #dcdcdc;
}
.hugo-blog .pagination .page-nums {
  padding-left: 8px;
  padding-right: 8px;
  text-decoration: none;
}
.hugo-blog .pagination .page-nums:hover {
  text-decoration: underline;
}
.hugo-blog .pagination .active {
  text-decoration: underline;
}
.hugo-blog .pagination .disabled {
  : rgba(0, 0, 0, 0.54);
}
@keyframes enter {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(0.8);
  }
}

.hugo-blog .about .about-media {
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: 0px;
}
.hugo-blog .about .profile-pic-container {
  transform: translate(0px, 75px);
}
.hugo-blog .about .profile-pic-container .profilepic {
  width: 150px;
  height: 150px;
  /*background-image: url('/images/avatar.jpg');*/
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  /*background-: #F5F5F5;*/
    background-color: transparent;
  border-style: solid;
  border-: #789296;
  border-width: 3px;
}
.hugo-blog .about .about-text {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color:rgba(0,0,0,0.2);
  border-radius:2px;
  padding:5px;
}


.hugo-blog .mdl-layout__header,
.hugo-blog .mdl-layout__drawer-button,
.hugo-blog .mdl-layout__header--transparent .mdl-navigation__link{
  font-size:1.2em;
  font-weight:500;
}

.hugo-blog .mdl-layout__header--transparent .mdl-navigation__link.active,
.hugo-blog .mdl-layout__drawer .mdl_navigation .mdl-navigation__link.active {

}




.hugo-blog .mdl-layout__header--transparent .mdl-navigation__link:hover {
 
}

.hugo-blog .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
color:white;
opacity:1;
}

.hugo-blog .mdl-layout__drawer-button{
color:rgb(64,196,255);
}


.hugo-blog .mdl-layout__drawer{
border:none;
}    

.hugo-blog .mdl-layout-title{
  padding-top:20px;
    
}

.hugo-blog .mdl-navigation__link {
font-size:1.2em;
}

.hugo-blog .project-card {
  min-height: 275px;
}
.hugo-blog .project-card .project-title a {
  font-size: 1.2em;
  line-height: 20px;
  text-decoration: none;
}




.hugo-blog .social-share-button{
    color:white;
    font-size:1.5em;
   text-transform:none;
   height:1.9em;
   
}

.hugo-blog .twitter-share{
    background-color:#1da1f2;
   
}

.hugo-blog .facebook-share{
    background-color:#3b5998;
    
  
}

.hugo-blog figure{
 text-align:center;
 margin-bottom:20px;
}

.hugo-blog figcaption h4{
    font-size: 0.9em;
    margin-top: 8px;
    margin-bottom: 0px;
    font-weight: 500;
    line-height:1.1em;
    font-style:oblique;
}

.hugo-blog figcaption a{
font-size: 0.9em;
 
}

.hugo-blog h4{
    font-family:Open Sans;
}

.hugo-blog h3{
    font-family:Open Sans;
}

.hugo-blog h2{
    font-family:Open Sans;
}

.hugo-blog ul,ol{
font-size:1em;
}

.hugo-blog code{
background: #ececec;
color:#5385b3;
padding:5px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
    
}


